body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.table-container {
    width: 90%;
    margin: auto;
    overflow-x: auto;
}

table {
    width: 85%;
    border-collapse: collapse;
    background: #111827;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #1f2937;
    text-align: center;
}

th {
    background: #1e293b;
    color: #93c5fd;
}

tr:hover {
    background: #1f2937;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: #111827;
    border-bottom: 1px solid #1f2937;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-left img {
    width: 55px;
}

.nav-left h1 {
    margin: 0;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #d1d5db;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
    color: white;
}

.site-title {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.site-title a {
    color: white;
    text-decoration: none;
}

.site-title a:hover {
    opacity: 0.85;
}


.leaderboard-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px;
    margin-left: 120px;
    margin-right: 100px;
}

.leaderboard-top h1 {
    margin-left: 0px;
}

#searchInput {
    width: 20%;
    min-width: 220px;
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #1f2937;
    color: white;
    font-size: 15px;
}
